channels[daphne]
channels_redis
django==4.2.*
djangorestframework
django-cockroachdb==4.2.*
django-cors-headers
django-debug-toolbar
dj-database-url
func-timeout
load_dotenv
pillow
psycopg2-binary
service-identity
random-username
requests
whitenoise
wonderwords
